@model MyFace.Models.View.PostsViewModel

@{
    Layout = "_Layout";
}

<ol class="posts-list">
    @foreach (var post in Model.Posts)
    {
        @* For each post, display message, image and date and time posted  *@
        <li class="post-item">
            @post.Message <br>
            <img src="@post.ImageUrl" width="300px"> <br>
            @post.PostedAt <br> <br>
        </li>        
    }
</ol>




<a asp-area="" asp-controller="Posts" asp-action="NextPage">Next Page</a><br>
