@model IEnumerable<MyFace.Models.View.PostViewModel>

<ol class="post-list">
    @foreach (var post in Model)
    {
        <li class="post-item">
            <img class="post-image" src="@post.ImageUrl"  alt="">
            <a class="post-user" href="/users/@post.PostedBy.Id">@post.PostedBy.Username</a>
            <div class="post-time">@post.FormattedTimeSincePost</div>
            <div class="post-message">@post.Message</div>
        </li>
    }
</ol>