@model IEnumerable<MyFace.Models.View.PostViewModel>

<ol>
    @foreach (var post in Model)
    {
        <li>
            <img src="@post.ImageUrl"  alt="">
            <a class="user" href="/users/@post.PostedBy.Id">@post.PostedBy.Username</a>
            <div class="post-time" >@post.FormattedTimeSincePost</div>
            <div class="message" >@post.Message</div>
        </li>
    }
</ol>