html, body {
  padding: 0;
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  color: #fff;
  background-color: #252A38;
}

a {
  text-decoration: none;
  color: #fff;
}

img {
  max-width: 100%;
  height: auto;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 40px 0;
}

section h2 {
  font-size: 20px;
  line-height: 24px;
  font-weight: 300;
  margin: 24px;
}

.navbar {
  display: none;
}

#hero-section {
  position: relative;
  margin: 0 0 60px 0;
  padding: 0;
  background: lightcoral;
}

#hero-section .info-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: rgba(37, 42, 56, 0.56);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  right: 0;
  left: 40px;
  bottom: -45px;
}

#hero-section .info-container .profile-image {
  width: 90px;
  border-radius: 50%;
  border: solid 3px #fff;
  margin-right: 16px;
}

#hero-section .info-container .details-container .display-name {
  font-size: 24px;
  line-height: 32px;
  font-weight: 400;
  letter-spacing: 0.5px;
  margin: 10px 0 0 0;
  position: relative;
  text-align: center;
}

#hero-section .info-container .details-container .username {
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  letter-spacing: 0.5px;
  margin: 5px 0 0 0;
}

#hero-section .info-container .details-container .email {
  font-size: 10px;
  line-height: 16px;
  font-weight: 300;
  letter-spacing: 0.5px;
  color: #DCDCDC;
}

.post-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  overflow-x: scroll;
  margin: 0;
  width: 100%;
  padding: 0;
  letter-spacing: 0.5px;
  list-style: none;
}

.post-list::-webkit-scrollbar {
  display: none;
}

.post-list .post-item {
  background-color: #151820;
  margin: 0 0 0 24px;
  min-width: calc(100% - 120px);
}

.post-list .post-user {
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 0 16px;
}

.post-list .post-time {
  font-size: 10px;
  line-height: 16px;
  font-weight: 300;
  color: #DCDCDC;
  padding: 0 16px;
}

.post-list .post-message {
  font-size: 14px;
  line-height: 20px;
  padding: 13px 16px;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #151820;
  border-top: 1px #fff solid;
}

footer img {
  width: 120px;
  margin: 16px;
}

.pg-btns {
  background: lightcoral;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 32px;
  font-size: 20px;
  position: relative;
}

.pg-btns .btn:hover {
  border-bottom: #fff solid 1.5px;
  -webkit-transition: border-bottom 1s;
  transition: border-bottom 1s;
}

.pg-btns .btn .prev-btn {
  position: absolute;
  left: 0;
}

.pg-btns .btn .nxt-btn {
  position: relative;
  right: 0;
}

@media only screen and (min-width: 767px) and (orientation: portrait) {
  section {
    margin: 48px 0;
  }
  section h2 {
    font-size: 20px;
    font-weight: 300;
    margin: 16px;
  }
  .post-list .post-item {
    margin: 0 0 0 32px;
    min-width: 250px;
    max-width: 250px;
  }
}

@media only screen and (min-width: 1023px) {
  .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #151820;
    padding: 24px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    height: 30px;
  }
  .navbar .nav-logo {
    font-size: 32px;
    line-height: 40px;
  }
  .navbar a {
    font-weight: 300;
  }
  .navbar ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .navbar ul .nav-item {
    font-size: 20px;
    margin: 0 48px;
    font-weight: 300;
  }
  .navbar ul .nav-item:hover {
    border-bottom: #fff solid 1.5px;
    -webkit-transition: border-bottom 1s;
    transition: border-bottom 1s;
  }
  section h2 {
    font-size: 24px;
    font-weight: 300;
  }
  #hero-section, #posts-section, #likes-section, #dislikes-section {
    margin: 0 96px 80px 96px;
  }
  .post-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0 auto;
  }
  .post-list .post-item {
    margin: 24px;
    min-width: 300px;
    max-width: 300px;
  }
  .post-list .post-user {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    padding: 0 16px;
  }
  .post-list .post-time {
    font-size: 12px;
    line-height: 20px;
    font-weight: 300;
    padding: 0 16px;
  }
  .post-list .post-message {
    font-size: 16px;
    line-height: 24px;
    padding: 13px 16px;
  }
}

@media only screen and (min-width: 1439px) {
  #hero-section, #posts-section, #likes-section, #dislikes-section {
    margin: 0 160px 80px 160px;
  }
}

@media only screen and (min-width: 2559px) {
  #hero-section, #posts-section, #likes-section, #dislikes-section {
    margin: 0 240px 80px 240px;
  }
  .post-list .post-item {
    margin: 24px;
    min-width: 400px;
    max-width: 400px;
  }
}
/*# sourceMappingURL=myStyles.css.map */