@import "_variables";

html, body {
    padding: 0;
    margin: 0;
    font-family: $font;
    color: #fff;
    background-color: $background;
}

// All links
a {
    text-decoration: none;
    color: #fff;
}

// All images
img {
    max-width: 100%;
    height: auto;
}

// All sections
section {
    display: flex;
    flex-direction: column;
    margin: $mbSectionSpacing 0;
    h2 {
        font-size: $mbSubtitleSize;
        line-height: $mbSubtitleHeight;
        font-weight: $weightLight;
        margin: $mbGutter;
    }
}

.navbar {
    display: none;
    // position: fixed;
    // background: $darkerBackground;
    // width: 100%;
    // z-index: 1;
    // padding: $mbCardPadding;
    // justify-content: space-between;
    // // background: lightpink;
    // .logo {
    //     font-size: $mbTitleSize;
    //     line-height: $mbTitleHeight;
    //     background-color: steelblue;;
    // }
    // ul {
    //     display: flex;
    //     // background: lightgreen;
    //     list-style: none;
    //     margin: 0;
    //     padding: 0;
    //     .nav-item {
    //         font-size: 16px;
    //         margin: 0 $mbCardPadding;
    //         // hover only works on desktop can put 
    //         // this in media query later
    //         &:hover {
    //             border-bottom: #fff solid 1.5px;
    //             transition: border-bottom 1s;
    //         }
    //     }
    // }
}


// User page - top section
$profileImageWidth: 90px;

#hero-section {
    position: relative;
    margin: 0 0 $profileImageWidth/1.5 0;
    padding: 0;
    background: lightcoral;
    .info-container {
        display: flex;
        background: $transparentOverlay;
        align-items: center;
        position: absolute;
        right: 0;
        left: 40px;
        bottom: -$profileImageWidth/2;
        .profile-image {
            width: $profileImageWidth;
            border-radius: 50%;
            border: solid 3px #fff;
            margin-right: $mbCardPadding;
        }
        .details-container {
            .display-name {
                font-size: $mbTitleSize;
                line-height: $mbTitleHeight;
                font-weight: $weightRegular;
                letter-spacing: 0.5px;
                margin: 10px 0 0 0;
                // background: lightgreen;
                position: relative;
                text-align: center;
            }
            .username {
                font-size: $mbBodySize;
                line-height: $mbBodyHeight;
                font-weight: $weightBold;
                letter-spacing: 0.5px;
                margin: 5px 0 0 0;
            }
            .email {
                font-size: $mbSecondarySize;
                line-height: $mbSecondaryHeight;
                font-weight: $weightLight;
                letter-spacing: 0.5px;
                color: $defaultForeground;
            }
        }
    }
}

// User page - Posts/likes/dislikes section
.post-list {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    // background: lightcoral;
    margin: 0;
    width: 100%;
    padding: 0;
    letter-spacing: 0.5px;
    list-style: none;
    &::-webkit-scrollbar {
        display: none;
    }
    .post-item {
        background-color: $darkerBackground;
        // background: steelblue;
        margin: 0 0 0 $mbGutter;
        min-width: calc(100% - #{$mbGutter*5});
        }
    .post-user {
        font-size: $mbBodySize;
        font-weight: $weightBold;
        line-height: $mbBodyHeight;
        padding: 0 $mbCardPadding;
    }
    .post-time {
        font-size: $mbSecondarySize;
        line-height: $mbSecondaryHeight;
        font-weight: $weightLight;
        color: $defaultForeground;
        padding: 0 $mbCardPadding;
    }
    .post-message {
        font-size: $mbBodySize;
        line-height: $mbBodyHeight;
        padding: 13px $mbCardPadding;
    }
}


// All pages

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $darkerBackground;
    border-top: 1px #fff solid;
    img {
        width: 120px;
        margin: $mbCardPadding;
    }
}


// Posts page

.pg-btns {
    background: lightcoral;
    display: flex;
    line-height: $mbBtnHeight;
    font-size: $mbBtnSize;
    position: relative;
        .btn {
            &:hover {
                border-bottom: #fff solid 1.5px;
                transition: border-bottom 1s;
            }
            .prev-btn {
                position: absolute;
                left: 0;
            }
            .nxt-btn {
                position: relative;
                right: 0;
            }
    } 
}

// Tablet
@media only screen and (min-width: 767px) and (orientation: portrait) {
    section {
        margin: $tabSectionSpacing 0;
        h2 {
            font-size: $mbSubtitleSize;
            font-weight: $weightLight;
            margin: $tabCardPadding;
        }
    }

    $profileImageWidth: 110px;

    .post-list {
        .post-item {
            margin: 0 0 0 $tabGutter;
            // min-width: calc(100% - #{$tabGutter*20});
            min-width: 250px;
            max-width: 250px;
        }
    }
}

// Desktop
@media only screen and (min-width: 1023px) {
    $navbarHeight: 30px;

    .navbar {
        display: flex;
        background-color: $darkerBackground;
        padding: $dtCardPadding;
        align-items: center;
        justify-content: space-around;
        height: $navbarHeight;
        .nav-logo {
            font-size: $dtTitleSize;
            line-height: $dtTitleHeight;
        }
        a {
            font-weight: $weightLight;
        }
        ul {
            display: flex;
            // background: lightgreen;
            list-style: none;
            margin: 0;
            padding: 0;
            .nav-item {
                font-size: 20px;
                margin: 0 $dtGutter;
                font-weight: $weightLight;
                // hover only works on desktop can put 
                // this in media query later
                &:hover {
                    border-bottom: #fff solid 1.5px;
                    transition: border-bottom 1s;
                }
            }
        }
    }

    section {
        h2 {
            font-size: $dtSubtitleSize;
            font-weight: $weightLight;
        }
    }

    #hero-section, #posts-section, #likes-section, #dislikes-section {
        margin: 0 $dtGutter*2 $dtSectionSpacing $dtGutter*2;
    }

    $profileImageWidth: 140px;

    .post-list {
        flex-wrap: wrap;
        margin: 0 auto;
        // background: steelblue;
        .post-item {
            margin: $dtCardPadding;
            min-width: 300px;
            max-width: 300px;
        }
        .post-user {
            font-size: $dtBodySize;
            font-weight: $weightBold;
            line-height: $dtBodyHeight;
            padding: 0 $mbCardPadding;
        }
        .post-time {
            font-size: $dtSecondarySize;
            line-height: $dtSecondaryHeight;
            font-weight: $weightLight;
            padding: 0 $mbCardPadding;
        }
        .post-message {
            font-size: $dtBodySize;
            line-height: $dtBodyHeight;
            padding: 13px $mbCardPadding;
        }
    }
}


// Larger desktop
@media only screen and (min-width: 1439px ) {
    #hero-section, #posts-section, #likes-section, #dislikes-section {
        margin: 0 $dtSectionSpacing*2 $dtSectionSpacing $dtSectionSpacing*2;
    }
}


// 4k desktop
@media only screen and (min-width: 2559px) {
    #hero-section, #posts-section, #likes-section, #dislikes-section {
        margin: 0 $dtSectionSpacing*3 $dtSectionSpacing $dtSectionSpacing*3;
    }
    .post-list {
        .post-item {
        margin: $dtCardPadding;
        min-width: 400px;
        max-width: 400px;
        }
    }
}