html, body {
  padding: 0;
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  color: #fff;
  background-color: #252A38;
}

a {
  text-decoration: none;
  color: #fff;
}

img {
  height: auto;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 16px;
}

section h2 {
  font-size: 20px;
  line-height: 24px;
  font-weight: 300;
}

header {
  position: fixed;
  background: #252A38;
  width: 100%;
}

header nav {
  padding: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header nav a {
  font-size: 24px;
  line-height: 32px;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

header nav ul li a {
  font-size: 16px;
  margin: 0 16px;
}

header nav ul li a:hover {
  border-bottom: #fff solid 1.5px;
  -webkit-transition: border-bottom 1s;
  transition: border-bottom 1s;
}

#hero-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
}

#hero-section .cover-image {
  max-width: 100%;
}

#hero-section .info-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#hero-section .info-container .profile-image {
  max-width: 25%;
  border-radius: 50%;
  border: solid 3px #fff;
  margin: 16px;
}

#hero-section .info-container .details-container .display-name {
  font-size: 24px;
  line-height: 32px;
  font-weight: 400;
  letter-spacing: 0.5px;
  margin: 15px 0;
}

#hero-section .info-container .details-container .username {
  font-size: 14px;
  line-height: 24px;
  font-weight: 600;
  letter-spacing: 0.5px;
  margin: 0;
}

#hero-section .info-container .details-container .email {
  font-size: 10px;
  line-height: 16px;
  font-weight: 300;
  letter-spacing: 0.5px;
  color: #DCDCDC;
}

#posts-section {
  position: relative;
}

#posts-section ol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: lightcoral;
  margin: 0;
  padding: 0;
  list-style: none;
}

#posts-section ol li {
  background: steelblue;
  margin: 16px;
}

#posts-section ol li img {
  max-width: 100%;
}

#posts-section ol li .user {
  font-size: 14px;
  line-height: 24px;
}

#posts-section ol li .post-time {
  font-size: 10px;
  line-height: 16px;
  font-weight: 300;
  color: #DCDCDC;
}

#posts-section ol li .message {
  padding: 16px;
  font-size: 14px;
  line-height: 24px;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #151820;
  border-top: 1px #fff solid;
}

footer img {
  width: 30%;
  max-width: 100%;
  height: auto;
  margin: 16px;
}

.posts-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0;
}

.posts-list .post {
  background: #151820;
  margin: 24px;
}

.posts-list .post img {
  max-width: 100%;
}

.posts-list .post .post-content {
  padding: 10px;
}

.posts-list .post .post-content .post-user {
  font-size: 18px;
  font-weight: 400;
}

.posts-list .post .post-content .post-message {
  font-size: 14px;
  font-weight: 300;
}

.pg-btns {
  background: lightcoral;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 32px;
  font-size: 20px;
  position: relative;
}

.pg-btns .btn:hover {
  border-bottom: #fff solid 1.5px;
  -webkit-transition: border-bottom 1s;
  transition: border-bottom 1s;
}

.pg-btns .btn .prev-btn {
  position: absolute;
  left: 0;
}

.pg-btns .btn .nxt-btn {
  position: relative;
  right: 0;
}
/*# sourceMappingURL=myStyles.css.map */